body {
    color: white;
    background: url("images/bg_home.png");
    background-size: cover;
    background-attachment: scroll;
    background-color: #0a111d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a img {
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 20px;
}

td:hover {
    text-decoration: underline;
    background-color: rgb(51, 128, 142);
    border-radius: 20px;
}

ul {
    margin-bottom: 20%;
}

#contact_home {
    width: 100%;
}

#contact_home img,
#contact_home p {
    display: inline;
    vertical-align: text-bottom;
}

#contact_home img {
    width: 20px;
}

.main-content {
    width: 45%; 
    padding: 0 5% 5% 10%; 
    margin-top: 5%;
}

.secondary-content {
    width: 45%;
    padding: 0 10% 5% 5%; 
    margin-top: 5%;
}

#hello {
    width: fit-content;
    padding: 15px;
    border: double 1px black;
    border-radius: 10px;
    background-color: rgb(51, 128, 142);
    margin-bottom: 40px;
}

#photo img {
    width: 65%;
    border-radius: 100%;
    margin-top: 10%;
    border: 5px solid white;
    margin-left: 10%;
}

li {
    list-style-type: none;
    font-size: larger;
}

li img {
    width: 25px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

.content {
    display: none;
    align-items: flex-start;
    justify-content: space-between;
}

.active-content {
    display: flex;
}